.detailsContenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #111111c0;
}

.detailsContenedor > *:nth-child(1) {
  background-color: rgba(128, 128, 128, 0.5);
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f8f9f8;
}

.detailsContenedor > *:nth-child(2) > * {
  border-radius: 50%;
}

.descriptionCharacter h1 {
  padding: 20px;
  background-color: #f4420b;
  border-radius: 15px;
}
