.navbar {
  background: url("/public/background-nav.png");
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

.links > *:nth-child(1),
.links > *:nth-child(2) {
  background-color: #111;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.links > *:nth-child(1):hover {
  background: url("../../../public/pixel.png");
  transition-delay: 0.3s;
  background-size: 180px;
  animation: animate 0.3s steps(8) forwards;
}

.links > *:nth-child(2):hover {
  background: url("../../../public/pixel2.png");
  transition-delay: 0.3s;
  background-size: 180px;
  animation: animate 0.3s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

.btnrd {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-image: url("../../../public/rick-morty.png");
  background-size: contain;
}

.logout {
  position: fixed;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  touch-action: manipulation;
  bottom: 5%;
  right: 4%;
}

.logout:focus {
  color: #171e29;
}

.logout:hover {
  background-color: #171e29;
  border-color: #fff;
  color: #fff;
  fill: #fff;
}

.logout:active {
  border-color: #fff;
  color: #fff;
  fill: #fff;
}
